.container{
    background: linear-gradient(to bottom right, #c7d7f8, #0576e0);
    height: 300px;
    width: 600px;
    position: absolute;
    left:50%;
    top:30%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px #91c6f1b3;
}
@keyframes clouds-loop-1 {
    to {
        background-position: -1000px 0;
        }
    }

.clouds-1 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026619079949291570/clouds_233.png");
    animation: clouds-loop-1 100s infinite linear;
}
    
@keyframes clouds-loop-2 {
    to {
        background-position: -1300px 0;
        }
}

.clouds-2 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026617444720201728/clouds_991.png");
    animation: clouds-loop-2 100s infinite linear;
}

@keyframes clouds-loop-3 {
    to {
        background-position: -1500px 0;
    }
}

.clouds-3 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026615143339147374/clouds_55553.png");
    animation: clouds-loop-3 100s infinite linear;
}

.clouds {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
    
.clouds-1, .clouds-2, .clouds-3 {
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 900px;
}
.card_text {
    z-index: 10;
}