.main_card {
    background: linear-gradient(10deg, #c7d7f8, #0576e0);
    height: 100%;
    width: 100%;
    min-height: 700px;
    max-height: 1100px;
    min-width: 700px;
    max-width: 1100px;
    position: fixed;
}