@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.footer__geo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    font-family: 'Lora', serif;
    font-size: 13px;
    color: rgb(229, 237, 251);
}   