@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.footer__geo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    font-family: 'Lora', serif;
    font-size: 13px;
    color: rgb(209, 219, 248);
}   