.search__location {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 15px 15px;
}

.search__location_input {
    width: 300px;
    padding: 10px;
    flex-wrap: wrap;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    transition: all 0.1s;
    font-size: 15px;
    border: 1px solid rgb(141, 211, 249);
    transition: all 0.1s ease;
    opacity: 1;
    background: rgb(255, 255, 255, 0.6);
}


/* Выпадающее меню */
.input:focus {
    outline: 0;
    border-color: #ffffff;
}

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.search__location_dropdown_topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.search__location_dropdown_topmenu > li:last-child {
    margin-right: 0;
}

.submenu__city {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .2s linear;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

/* Шрифт списка городов */
.search__location_dropdown .submenu__city:hover {
    background: #99b8f7;
    color: #eef3ff;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.search__location_dropdown .submenu {
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.search__location_dropdown ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
}