.card_text {
    display: grid;
    place-items: center;
    margin-top: 30px;

    font-family: 'Lora', serif;
    color: rgb(255, 255, 255);
    opacity: none;
    font-weight: none;
}

.city {
    font-size: 40px;
}

.сelsius {
    font-size: 70px;
}

.weather_description, .max_min_temperature{
    font-size: 17px;
}