@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.card-text {
    display: grid;
    place-items: center;
    margin-top: 30px;

    font-family: 'Lora', serif;
    color: rgb(255, 255, 255);
    opacity: none;
    font-weight: none;
}

.card-text__city {
    font-size: 40px;
}

.card-text__сelsius {
    font-size: 70px;
}

.card-text__weather_description,
.card-text__temperature_max,
.card-text__temperature_min {
    font-size: 17px;
}