@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.container{
    background: linear-gradient(to bottom right, #c7d7f8, #0576e0);
    height: 300px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px #2d97eeb3;
    z-index: 1;
}
@keyframes clouds-loop-1 {
    to {
        background-position: -1000px 0;
        }
    }

.clouds_1 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026619079949291570/clouds_233.png");
    animation: clouds-loop-1 90s infinite linear;
}
    
@keyframes clouds-loop-2 {
    to {
        background-position: -1500px 0;
        }
}

.clouds_2 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026617444720201728/clouds_991.png");
    animation: clouds-loop-2 100s infinite linear;
}

@keyframes clouds-loop-3 {
    to {
        background-position: -2000px 0;
    }
}

.clouds_3 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026615143339147374/clouds_55553.png");
    animation: clouds-loop-3 100s infinite linear;
}

.clouds {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.clouds_1, .clouds_2, .clouds_3 {
    background-repeat: repeat-x;
    position: absolute;
    top: 100;
    right: 0;
    left: 0;
    height: 900px;
}

.card_text {
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Lora', serif;
    color: black;
    opacity: none;
    font-weight: none;

}

.city {
    font-size: 40px;
}

.сelsius {
    font-size: 70px;
}

.weather_description, .max_min_temperature{
    font-size: 17px;
}